* {
    box-sizing: border-box;
}

body{
    background-color: cadetblue;
}

#contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}

#encabezado{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(64, 102, 104, 0.979);
    color: rgb(134, 179, 236);
    width: 100%;
    font-size: 30px;
}

#menuNavegar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(134, 179, 236);
    width: 100%;
    height: 50px;
    font-size: 20px;
    text-decoration: none;
    color: black;

}

#contenido{
   display: flex;
   justify-content: center;
   justify-items: center;
   width: 80%;
}

#contacto{
    font-size: 20px;
}

#nosotros{
    font-size: 20px;
}

#vision{
    float: left;
    width: 40%;
    font-size: 20px
}

#mision{
    float: right;
    width: 40%;
    font-size: 20px
}

#pie{
    display: flex;
    justify-content: center;
    background-color: rgb(140, 171, 173);
    width: 100%;
}

#productos{
    font-size: 20px;
}

#imagenes{
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    flex-wrap: wrap;
}

a{
    font-size: 20px;
    text-decoration: none;
    margin-right: 20px;
    color: black;
}

h3{
    text-align: center;
}

h2{
    text-align: center;
}

img{
    margin-left: 5px;
    margin-right: 5px;
    height: 300px;
    width: 300px;
}

footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
}

p{
    font-size: 17px;
}

input{
    width: 200px;
}







